* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    height: 4em;
    width: 100%;
    justify-content: space-between;
    background-color: #F7EEF8;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}
.logo {
    height: 100%;
    margin-left: 10px;
}

.logo img {
    max-height: 100%;
}


li {
    margin: 0 10px;
}

a {
    color: #422230;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
}

li:hover a{
    cursor: pointer;
    background-color: #422230;
    color: #F7EEF8;
}
.form {
    /* background-color: black; */
    margin: 50px 0;
    padding: 50px;
}

form {
    border: 2px solid #F7EEF8;
    border-radius: 5px;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}
input {
    margin: 10px;
    padding: 5px;
    border: 2px solid #F7EEF8;
}

label {
    color: #422230;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

input[type="submit"] {
    background-color: #F7EEF8;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

#logout {
    margin: 0;
    padding: 0;
    border: none;
}

.contactContainer {
    width: 30%;
    height: 100vh;
    background-color: #F7EEF8;
}

.row {
    display: flex;
    flex-direction: row;
}

.contactNames {
    padding: 3px 200px 3px 15px
    
}

.chatContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatInput {
    display: flex;
    width: 100%;
    flex-direction: row; 
    margin-top: 20px;
}
.chatInput input[type='text'] {
    width: 88%;
}

.send {
    background-color: #422230;
    color: #F7EEF8;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    text-align: right;
    max-width: 80%;
    align-self: flex-end;
    margin: 5px 10px;
}

.recieved {
    background-color: #F7EEF8;
    color: #422230;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    max-width: 80%;
    margin: 5px 10px;
}